node_modules
/node_modules
/.cache
/.vscode
/.idea
/.temp
/.DS_Store
/coverage
/.nyc_output
/npm-debug.log
/.node
/dist
/declaration
/build
/.tmp
/*.tgz
/*.zip
public/package.json
yarn-error.log
.temp